<div class="uk-card-body">
    <div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
        <div class="uk-width-1-5@m uk-height-1-1 uk-visible@m">
            {{ $image := .Resources.ByType "image" }}
            {{ if gt (len $image) 0 }}
            {{ with .Resources.ByType "image" }}
            {{ if and (gt (len .) 0) (not (eq (index . 0) ""))}}
            <div class="uk-card-media">
                {{ range first 1 . }}
                <div class="uk-background-contain uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle"
                     style="background-image: url({{ .RelPermalink }});">
                </div>
                {{ end }}
            </div>
            {{ end }}
            {{ end }}
            {{ else }}
                <div class="uk-background-contain uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle">
                <span class="{{.Type}}-icon">
                    <i class="fas fa-info-circle"></i>
                </span>
                </div>
            {{ end }}
        </div>
        <div class="uk-width-4-5@m uk-height-1-1">
            <div class="uk-container">
                <h5 class="uk-margin-small-bottom uk-margin-remove-adjacent uk-text-bold">
                    <a title="{{ .Title }}" class="uk-link-reset" href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>
                </h5>
                <p class="uk-text-small uk-text-muted">{{ .Summary }}</p>
            </div>
            {{ if .Truncated }}
            <a href="{{ .Permalink }}" class="uk-button uk-button-default uk-button-small">
                {{with .Site.Data.l10n.articles.read_more}}{{.}}{{end}}
            </a>
            {{ end }}
        </div>
    </div>
</div>