{{ define "main" }}
{{ if not .Params.disable_rightbar }}
<div class="uk-section uk-section-default uk-section-xsmall">
  <div class="uk-container">
    <div class="uk-grid" data-ukgrid>
      <div class="uk-width-3-4@m">
        {{ .Render "heading-line" }}
        {{ $blog := where .Pages "Type" "!=" "page"}}
        {{ $blog = $blog | intersect (where .Site.RegularPages ".Params.status" "!=" "planned") }}
        {{ $taxonomy := index .Site.Taxonomies.archives "2017" }}
        {{ $archive := $taxonomy.Pages }}
        {{ $blog = $blog | complement $archive }}
        {{ $paginator := .Paginate $blog }}
        {{ range .Paginator.Pages }}
          {{ .Render "summary" }}
        {{ end }}
        {{ partial "pagination" . }}
      </div>
      {{ partial "sidebar_widgets" (dict "context" . "var" "list") }}
    </div>
  </div>
</div>
{{ else }}
  {{ .Content }}
{{ end }}
{{ end }}