<div class="uk-card-body">
    <div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
        <div class="uk-width-1-5@m uk-height-1-1 uk-visible@m">
            {{ if eq .Params.cup "schcup" }}
            <div class="uk-card-media">
                <div class="uk-background-contain uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle" 
                     style="background-image: url(/images/schulcup_pokale.jpg);">
                </div>
            </div>
            {{ else if eq .Params.cup "sbgcup" }}
            <div class="uk-card-media">
                <div class="uk-background-contain uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle" 
                     style="background-image: url(/images/potato.png);">
                </div>
            </div>
            {{ else }}
            <div class="uk-background-contain uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle">
                <span class="{{.Type}}-icon">
                    <i class="fas fa-info-circle"></i>
                </span>
            </div>
            {{ end }}
        </div>
        <div class="uk-width-4-5@m uk-height-1-1">
            <div class="uk-container">
                <h5 class="uk-margin-small-bottom uk-margin-remove-adjacent uk-text-bold">
                    <a title="{{ .Title }}" class="uk-link-reset" href="{{ .Permalink }}">{{ .Title }}
                        {{ if .Params.event.name_amend }}
                        ({{ .Params.event.name_amend }})
                        {{ end }}
                    </a>
                </h5>
                <div>
                    <div>
                    {{ with .Resources.Match "infos/*" }}
                        {{ partial "event_resources_list_flat" . }}
                        <hr class="uk-divider-small">
                    {{ end }}
                    </div>
                    <div>
                    {{ if (eq .Params.status "done")}}
                        {{ with .Resources.Match "results/*" }}
                            {{ partial "event_resources_list_flat" . }}
                        {{ end }}
                    {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>