{{ define "main" }}

{{ $eventTitle := .Title}}

<div class="uk-container">
{{ with .Resources.Match "results/*.xml" }}
    {{ $cnt := len .}}
    {{ if gt $cnt 1 }}
    <ul class="uk-tab" data-uk-tab="{connect:'#my-id'}">
        {{ range $index, $element := . }}
            {{ $file := printf "%s" $element.RelPermalink }}
            <li><a href="">{{ $element.Title }} {{$index}}</a></li>
        {{ end }}
    </ul>
    <ul id="my-id" class="uk-switcher uk-margin">
        {{ range $index, $element := . }}
        <li></li>
        {{ end }}
    </ul>
    {{ else }}
        {{ range $index, $element := . }}
            {{ $file := printf "%s" $element.RelPermalink }}
            <div class="uk-container">
                <h3 class="uk-text-center">
                    {{$eventTitle}}
                </h3>
            </div>
            <section class="uk-section uk-section-xsmall uk-section-muted">
                <div id="sbRoot" class="uk-container uk-container-expand" uk-height-viewport="expand: true" data-height-expand>
                </div>
            </section>
            <script type="text/javascript">
                SplitsBrowser.loadEvent('{{$file}}');
            </script>
        {{ end }}
    {{ end }}
{{ end }}

<noscript>
    <h1>SplitsBrowser &ndash; JavaScript is disabled</h1>
    <p>Your browser is set to disable JavaScript.</p>
    <p>SplitsBrowser cannot run if JavaScript is not enabled. Please enable JavaScript in your browser.</p>
</noscript>
{{ end }}