{{ define "main" }}

{{ $resultFile := "" }}
{{ with .Resources.GetMatch "results/*.xml" }}
    {{ $resultFile = .Title}}
{{ end }}
{{ $f := string (delimit (slice "" "content" "event" "2019" "sbgcup" "01" $resultFile) "/") }}
{{ $xml := getXML $f }}

<div>
    <h3>{{$xml.ResultList.Event.Name}} {{$xml.note.from}}</h3>
</div>

{{ range $xml.ResultList.ClassResult }}
    {{ $count := 0 }}
    {{ range $i, $p := .PersonResult }}
        {{ if eq $i "Person" }}
            {{ $count = 0 }}
        {{ else }}
            {{ $count = add $count 1 }}
        {{ end }}
    {{ end }}

    <div>{{.Class.Name}} ({{$count}}) - Bahn: {{.Course.Name}}, {{.Course.Length}} m, {{.Course.NumberOfControls}} P</div>

    <table class="result__split--table">
        <tbody>
            {{ if eq $count 1 }}
                {{ partial "result/result_split_table_header" (dict "personresult" .PersonResult) }}
            {{ else }}
                {{ range first 1 .PersonResult }}
                    {{ partial "result/result_split_table_header" (dict "personresult" .) }}
                {{ end }}
            {{ end }}
            {{ $plOffset := 1 }}
            {{ if eq $count 1 }}
                {{ partial "result/result_split_table_row" (dict "personresult" .PersonResult "ploffset" $plOffset) }}
            {{ else }}
                {{ range $i, $p := .PersonResult }}
                    {{ partial "result/result_split_table_row" (dict "personresult" $p "ploffset" $plOffset) }}
                    {{ $plOffset = add $plOffset 1 }}
                {{ end }}
            {{ end }}
        </tbody>
    </table>
    {{ end }}
{{ end }}