{{ $len := (len .)}}
{{ range $index, $element := . }}
        {{ if (intersect $element.MediaType.Suffixes (slice "pdf")) }}
        <span style="color: rgb(253, 60, 25);">
            <i class="far fa-file-pdf"></i>
        </span>
        {{ end }}
        {{ if eq $element.ResourceType "" }}
        <span style="color: rgb(136, 118, 115);">
            <i class="fa fa-file"></i>
        </span>
        {{ end }}
        <a href="{{ .RelPermalink }}">{{ $element.Title | default $element.Name }}</a>
        {{ if (lt (add $index 1) $len) }}
        &bull;
        {{ end }}
    {{ end }}
