{{ $evt := where .Site.RegularPages "Type" "event" }}
{{ $evt = $evt | intersect (where .Site.Pages ".Params.status" "in" (slice "planned" "active")) }}
{{ $evt = sort $evt "Date" "asc" }}
<ul class="uk-list uk-list-divider">
    {{ range first .Site.Params.num_of_planned_events_preview $evt }}
    <li>
        <div class="uk-container event__item">
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-1-8@m">
                    <span class="uk-text-large">
                        {{.Date.Day}}
                    </span>
                    <span>
                        {{ substr (index $.Site.Data.months (printf "%d" .Date.Month)) 0 3 }}.
                    </span>
                    <span>
                        {{ dateFormat .Site.Params.time_format_event_year .Date }}
                    </span>
                    {{ if eq .Params.status "active" }}
                        <span class="uk-text-bold uk-margin-left">{{ partial "functions/event_anne_link" (dict "id" .Params.anne_id "link" "Anmeldung") }}</span>
                    {{ end }}
                </div>
                <div class="uk-width-auto">
                    {{with .Params.event.type }}
                    <span class="uk-label event__type--{{.}}">
                        {{ . | upper }}
                    </span>
                    {{ end }}
                </div>
                <div class="uk-width-expand">
                    <p><a href="{{.RelPermalink}}">{{.Title}}</a></p>
                </div>
                <div class="uk-width-expand">
                    {{ partial "event_list_meta" . }}
                </div>
            </div>
        </div>
    </li>
    {{ end }}
</ul>