{{ if .Params.entry.anne }}
Anmeldung bis spätestens <b>
        {{ $mtime := time .Params.event.date }}
        {{ $duration := time.Duration "hour" (mul .Params.entry.closing_date_days 24) }}
        {{ $mtime2 := $mtime.Add ($duration) }}
        {{ $mtime2.Day }} {{ $mtime2.Month }} {{ $mtime2.Year }}</span>

    </b> über {{ partial "functions/event_anne_link" (dict "id" .Params.anne_id "link" "ANNE") }}.
{{ end }}
{{ if not (eq .Params.entry.email "") }}
In Ausnahmefällen direkt an <a href="mailto:{{.Params.entry.email}}">{{.Params.entry.email}}</a> mit Name, Klasse, Geburtsjahr, Verein und SI-Nummer.
{{ end }}