<!--HEADER-->
<header id="header" data-uk-sticky="show-on-up: true; animation: uk-animation-fade; media: @l">
  <div class="uk-container">
    <nav class="uk-navbar uk-navbar-container" id="menu" data-uk-navbar>
      <!-- logo -->
      <div class="uk-navbar-left">
        <a href="{{ .Site.Home.RelPermalink }}" class="uk-navbar-item uk-logo" >
          <img width="130" height="52" src="/images/solv-logo-horizontal.svg" class="uk-margin-small-right" uk-svg />
        </a>
      </div>
      <!-- menu -->
      <div class="uk-navbar-right">
        <a href="#mobile-menu" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #mobile-menu"></a>
        <ul class="uk-navbar-nav uk-visible@m">
          {{ range .Site.Menus.main }}
          <li>
            {{ if .HasChildren }}
            <a href="#">{{ .Name }} <span data-uk-icon="icon: triangle-down"></span></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                {{ range .Children }}
                <li>
                  <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
              </ul>
            </div>
            {{ else }}
              <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
  <div id="mobile-menu" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default" data-uk-nav>
          {{ range .Site.Menus.main }}
          <li>
            <a href="#">{{ .Name }}</a>
            {{ if .HasChildren }}
            <div class="uk-parent">
              <ul class="uk-nav-sub">
                {{ range .Children }}
                <li>
                  <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
          </li>
          {{ end }}
        </ul>
    </div>
  </div>
</header>
<!--/HEADER-->



