<!--HEADER-->
<header id="header" data-uk-sticky="show-on-up: true; animation: uk-animation-fade; media: @l">
  <div class="uk-container">
    <nav class="uk-navbar uk-navbar-container" id="menu" data-uk-navbar>
      <!-- logo -->
      <div class="uk-navbar-left">
        <a href="{{ .Site.Home.RelPermalink }}" class="uk-navbar-item uk-logo" >
          <img width="100" height="56" src="/images/solv-logo-neu.svg" class="uk-margin-small-right" uk-svg />
        </a>
      </div>
      <!-- menu -->
      <div class="uk-navbar-right">
        <a href="#mobile-menu" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #mobile-menu"></a>
        <ul class="uk-navbar-nav uk-visible@m">
          {{ range .Site.Menus.main }}
          <li>
            {{ if .HasChildren }}
            <a href="#">{{ .Name }} <span data-uk-icon="icon: triangle-down"></span></a>
              <div uk-dropdown="offset: -20" class="uk-navbar-dropdown">
              <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                {{ range .Children }}
                  {{ if eq .Name "divider" }}
                    <li class="uk-nav-divider"></li>
                  {{ else if eq .Identifier "tags"}}
                  <li class="uk-parent">
                    <a href="#">{{ with $.Site.Data.l10n.widgets.tags.title }}{{.}}{{end}}</a>
                    <ul class="uk-nav-sub">
                      {{ range $name, $items := $.Site.Taxonomies.tags }}
                      <li>
                        {{ $url := printf "%s/%s" "tags" ($name | urlize | lower)}}
                        <a href="{{ $url | absURL }}"><span>{{ $name }}</span><span class="tag-list-count">{{ len $items }}</span></a>
                      </li>
                      {{ end }}
                    </ul>
                  </li>
                  {{ else if eq .Identifier "archives"}}
                  <li class="uk-parent">
                    <a href="#">{{ with $.Site.Data.l10n.widgets.archive.title }}{{.}}{{end}}</span></a>
                    <ul class="uk-nav-sub">
                      {{ range $name, $items := $.Site.Taxonomies.archives }}
                      <li>
                        {{ $url := printf "%s/%s" "archives" ($name | urlize | lower)}}
                        <a href="{{ $url | absURL }}"><span>{{ $name }}</span><span class="tag-list-count">{{ len $items }}</span></a>
                      </li>
                      {{ end }}
                    </ul>
                  </li>
                  {{ else }}
                  <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                  {{ end }}
                {{ end }}
              </ul>
              </div>
            {{ else }}
              <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
  <div id="mobile-menu" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
          <li class="uk-nav-header">
          <a href="{{ .Site.Home.RelPermalink }}" class="uk-navbar-item uk-logo" >
              <img width="75" height="42" src="/images/solv-logo-neu.svg" class="uk-margin-small-right" uk-svg />
            </a>
          </li>
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="uk-parent">
            <a href="#">{{ .Name }}</a>
            <ul class="uk-nav-sub">
              {{ range .Children }}
              {{ if eq .Name "divider" }}
                <li class="uk-nav-divider"></li>
                {{ else if eq .Identifier "tags"}}
                <li class="uk-parent">
                  <a href="#">{{ with $.Site.Data.l10n.widgets.tags.title }}{{.}}{{end}}</a>
                  <ul class="uk-nav-sub">
                    {{ range $name, $items := $.Site.Taxonomies.tags }}
                    <li>
                      {{ $url := printf "%s/%s" "tags" ($name | urlize | lower)}}
                      <a href="{{ $url | absURL }}"><span>{{ $name }}</span><span class="tag-list-count">{{ len $items }}</span></a>
                    </li>
                    {{ end }}
                  </ul>
                </li>
                {{ else if eq .Identifier "archives"}}
                <li class="uk-parent">
                  <a href="#">{{ with $.Site.Data.l10n.widgets.archive.title }}{{.}}{{end}}</span></a>
                  <ul class="uk-nav-sub">
                    {{ range $name, $items := $.Site.Taxonomies.archives }}
                    <li>
                      {{ $url := printf "%s/%s" "archives" ($name | urlize | lower)}}
                      <a href="{{ $url | absURL }}"><span>{{ $name }}</span><span class="tag-list-count">{{ len $items }}</span></a>
                    </li>
                    {{ end }}
                  </ul>
                </li>
              {{ else }}
                <li>
                  <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
              {{ end }}
              {{ end }}
            </ul>
          </li>
          {{ else }}
          <li>
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
    </div>
  </div>
</header>
<!--/HEADER-->



