<div class="uk-container uk-container-xsmall">
    <div class="uk-position-relative uk-position-bottom-center">
{{ $paginator := .Paginator }}

<!-- Number of links either side of the current page. -->
{{ $adjacent_links := 2 }}

<!-- $max_links = ($adjacent_links * 2) + 1 -->
{{ $max_links := (add (mul $adjacent_links 2) 1) }}

<!-- $lower_limit = $adjacent_links + 1 -->
{{ $lower_limit := (add $adjacent_links 1) }}

<!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

{{ if gt $paginator.TotalPages 1 }}
<ul class="uk-pagination" uk-margin>
        {{ if $paginator.HasPrev }}
            <li><a href="{{ $paginator.Prev.URL | absURL }}"><span uk-pagination-previous></span></a></li>
        {{ else }}
            <li class="uk-disabled"><a href="#"><span uk-pagination-previous></span></a></li>
        {{ end }}

        {{ range $paginator.Pagers }}
            {{ $.Scratch.Set "page_number_flag" false }}
            <!-- Advanced page numbers. -->
            {{ if gt $paginator.TotalPages $max_links }}
                <!-- Lower limit pages. -->
                {{ if le $paginator.PageNumber $lower_limit }}
                    {{ if le .PageNumber $max_links }}
                        {{ $.Scratch.Set "page_number_flag" true }}
                    {{ end }}
                <!-- Upper limit pages. -->
                {{ else if ge $paginator.PageNumber $upper_limit }}
                    {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
                        {{ $.Scratch.Set "page_number_flag" true }}
                    {{ end }}
                <!-- Middle pages. -->
                {{ else }}
                    {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
                        {{ $.Scratch.Set "page_number_flag" true }}
                    {{ end }}
                {{ end }}
            <!-- Simple page numbers. -->
            {{ else }}
                {{ $.Scratch.Set "page_number_flag" true }}
            {{ end }}

            <!-- Output page numbers. -->
            {{ if eq ($.Scratch.Get "page_number_flag") true }}
                {{ if eq . $paginator }}
                    <li class="uk-active"><a href="{{ .URL | absURL }}">{{ .PageNumber }}</a></li>
                {{ else }}
                    <li><a href="{{ .URL | absURL }}">{{ .PageNumber }}</a></li>
                {{ end }}
            {{ else }}
                {{ if eq .PageNumber 1 }}
                    <li class="uk-disabled"><a href="#">1</a></li>
                {{end}}
                {{ if or (eq .PageNumber 2) (eq .PageNumber (sub $paginator.TotalPages 1)) }}
                    <li class="uk-disabled"><span>...</span></li>
                {{ end }}
                {{ if eq .PageNumber $paginator.TotalPages }}
                    <li><a href="{{ $paginator.Last.URL | absURL }}">{{$paginator.TotalPages}}</a></li>
                {{end}}
            {{ end }}
        {{ end }}

        {{ if $paginator.HasNext }}
            <li><a href="{{ $paginator.Next.URL | absURL }}"><span uk-pagination-next></span></a></li>
        {{ else }}
            <li class="uk-disabled"><a href="#"><span uk-pagination-next></span></a></li>
        {{ end }}
</ul>
{{ end }}
    </div>
</div>
