<div class="uk-section uk-section-default uk-section-xsmall">
  <div class="uk-container">
    <h4 class="uk-heading-line uk-text-bold"><span>Termine</span></h4>
    <div data-uk-slider="velocity: 5">
      <div class="uk-position-relative">
        <div class="uk-slider-container">
          <ul class="uk-slider-items uk-child-width-1-1@m uk-grid uk-grid-medium news-slide">
            {{ partial "calendar" (dict "context" . "from" 2016 "fromMonth" 10 "to" 2019 "toMonth" 02 "pages" .Site.Pages) }}
          </ul>
        </div>
        <div class="uk-hidden@l uk-light">
          <a class="uk-position-center-left uk-position-small" href="#" data-uk-slidenav-previous data-uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small" href="#" data-uk-slidenav-next data-uk-slider-item="next"></a>
        </div>
        <div class="uk-visible@l">
          <a class="uk-position-center-left-out uk-position-small" href="#" data-uk-slidenav-previous data-uk-slider-item="previous"></a>
          <a class="uk-position-center-right-out uk-position-small" href="#" data-uk-slidenav-next data-uk-slider-item="next"></a>
        </div>
      </div>
      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
  </div>
</div>