<h4 class="uk-heading-line uk-text-bold"><span>{{ with .Site.Data.l10n.widgets.events.title }}{{.}}{{end}}</span></h4>
{{ partial "event_list_upcomming_short" . }}
<a class="uk-button uk-button-default uk-button-small uk-position-bottom-center uk-position-relative" href="/termine">...  weitere SOLV Termine</a>
<a class="uk-button uk-button-default uk-button-small uk-position-bottom-center uk-margin-top uk-position-relative" href="https://www.oefol.at/nationale-termine-2019/">Nationale Termine 2019</a>