<h4 class="uk-heading-line uk-text-bold"><span>{{ with .Site.Data.l10n.widgets.events.title }}{{.}}{{end}}</span></h4>
{{ $evt := where .Site.RegularPages "Type" "event" }}
{{ $evt = $evt | intersect (where .Site.Pages ".Params.status" "=" "planned") }}
<ul class="uk-list uk-list-striped">
    {{ $nevt := sort $evt "Date" "asc"}}
    {{ range first .Site.Params.num_of_planned_events_preview $nevt }}
    <li>
        <div class="uk-container">
            <div class="uk-grid uk-grid-small" data-ukgrid>
                <div class="uk-width-auto sv-event">
                    <div class="sv-event-content sv-event-date-true">
                        <div class="sv-event-date">
                            <span class="sv-event-date-day">
                                {{ dateFormat .Site.Params.time_format_event_daymonth .Date }}</span>
                            <span class="sv-event-date-year">
                                {{ dateFormat .Site.Params.time_format_event_year .Date }}</span>
                        </div>
                    </div>
                </div>
                <div class="uk-width-expand">
                    <p><a href="{{.RelPermalink}}">{{.Title}}</a></p>
                    <p>{{ partial "functions/event_anne_link" (dict "id" .Params.anne_id "link" "Anmeldung") }}</p>
                </div>
            </div>
        </div>
    </li>
    {{ end }}
</ul>