.uk-section-xsmall {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.uk-logo img {
  width: 50px;
}

img[data-src][src*='data:image'] { background: rgba(0,0,0,0.1); }

.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}

