.is-resizable {
    resize: horizontal;
    overflow: auto;
}

.draghere {
    color: #1E6823;
    text-align: right;
    font-size: 12px;
}

.calendar__wrapper {
    font-family: 'Lato', helvetica, sans-serif;
    width: 100%;
    background-color: antiquewhite;
}
.calendar__svg {
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
    width: 100%;
}

.calendar__week {
    font-size: 9px;
    alignment-baseline: central;
    fill: #AAA;
}

.calendar__month {
    font-size: 10px;
    alignment-baseline: central;
    fill: #AAA;
}