.event__item {
    position: relative;
}
.event__item .event__date--box {
    margin-left: 0px;
}
.event__item .event__date .event__date--box {
    top: 5px;
    left: 0px;
    width: 35px;
    padding: 5px;
    border-radius: 2px;
    background: #dc5537;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
}

.event__item .event__date .event__date--year {
    border-top: 1px dashed #ffffff;
}

.event_item .event__type--schcup {
    background: #9237dc;
    margin-left: 1rem;
}

.event_item .event__type--sbgcup {
    background: #3784dc;
}

.event__item .event__date--box .event__date .event__date--day {
    display: block;
    font-size: 11px;
}
.event__item .event__date--box .event__date .event__date--year {
    display: block;
    font-size: 15px;
}