/**
 * Print Stylesheet fuer Deinewebsite.de
* @version         1.0
* @lastmodified    16.06.2016
*/

@media print {
 
    /* Inhaltsbreite setzen, Floats und Margins aufheben */
    /* Achtung: Die Klassen und IDs variieren von Theme zu Theme. Hier also eigene Klassen setzen */
    #content, #page {
        width: 100%; 
        margin: 0; 
        float: none;
    }

    @page { margin: 2cm }
    
    #coordinates {
        display: inline;
    }

    #header, #event-sidebar {
        display: none;
    }

    body {
        font: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: normal;
        background: #fff !important;
        color: #000;
    }
    
    h1 {
        font-size: 24pt;
    }
    
    h2, h3, h4 {
        font-size: 14pt;
        margin-top: 25px;
    }
     
    /* Alle Seitenumbrüche definieren */
    a, li {
        page-break-inside:avoid
    }
    blockquote {
        page-break-inside: avoid;
    }
    h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
         page-break-inside:avoid }
    img { page-break-inside:avoid; 
         page-break-after:avoid; }
    pre { page-break-inside:avoid }
    table {
        page-break-inside:avoid;
        border-spacing: 8px 2px;
    }
    td {
        padding: 6px;
    }

    ul, ol, dl  { page-break-before:avoid }
        
    /**
     * Eingebundene Videos verschwinden lassen und den Whitespace der iframes auf null reduzieren.
     */
    .entry iframe, ins {
        display: none;
        width: 0 !important;
        height: 0 !important;
        overflow: hidden !important;
        line-height: 0pt !important;
        white-space: nowrap;
    }
    .embed-youtube, .embed-responsive {
      position: absolute;
      height: 0;
      overflow: hidden;
    }
        
    /* remove unneeded elements */
    #header-widgets, nav, aside.mashsb-container, 
    .sidebar, .mashshare-top, .mashshare-bottom, 
    .content-ads, .make-comment, .author-bio, 
    .heading, .related-posts, #decomments-form-add-comment, 
    #breadcrumbs, #footer, .post-byline, .meta-single, 
    .site-title img, .post-tags, .readability 
    {
        display: none;
    }
        
    /* Benutzerdefinierte Nachrichten vor und nach dem Inhalt einfügen */
    .entry:after {
    content: "\ Alle Rechte vorbehalten. (c) 2014 - 2016 TechBrain - techbrain.de";
    color: #999 !important;
    font-size: 1em;
    padding-top: 30px;
    }
    #header:before {
    content: "";
    color: #777 !important;
    font-size: 1em;
    padding-top: 30px;
    text-align: center !important;    
    }
    
    p, address, li, dd, blockquote {
        font-size: 100%
    }
    
    code, pre {
        font-family: "Courier New", Courier, mono;
    }

    ul, ol {
        list-style: square;
        margin-left: 18pt;
        margin-bottom: 20pt;
    }

    li {
        line-height: 1.6em;
    }
}