ul.events {
    margin: 0;
    padding: 32px;
    background: #555;
    
    li {
      list-style-type: none;
      padding: 0 0 24px;
      overflow: hidden;
    }
    
    a { color: #00CCFF; }

    p {
      margin: 0;
      padding-bottom: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .date {
      border-radius: 5px;
      float: left;
      width: 48px;
      margin-right: 16px;
      padding: 10px 4px;
      background: #cca;
      text-align: center;
      color: #555;
      
      .month {
        display: block;
        text-transform: uppercase;
      }
      
      .day {
        font-size: 1.25rem;
      }
    }
}