.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}

ul.events {
  margin: 0;
  padding: 32px;
  background: rgb(229, 130, 130);
}  
ul.events.li {
  list-style-type: none;
  padding: 0 0 24px;
  overflow: hidden;
}
    
ul.events.li.a { color: #00CCFF; }

ul.events.li.p {
      margin: 0;
      padding-bottom: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .date {
      border-radius: 5px;
      float: left;
      width: 48px;
      margin-right: 16px;
      padding: 10px 4px;
      background: #cca;
      text-align: center;
      color: #555;
    }
      .month {
        display: block;
        text-transform: uppercase;
      }
      
      .day {
        font-size: 1.25rem;
      }

      #page-nav {
        margin: 40px auto;
        text-align: center;
        color: #999;
        overflow: hidden;
      }
      #page-nav:before,
      #page-nav:after {
        content: "";
        display: table;
      }
      #page-nav:after {
        clear: both;
      }
      #page-nav a,
      #page-nav span {
        height: 32px;
        padding: 0 10px;
        line-height: 32px;
        text-align: center;
        display: inline-block;
        -webkit-border-radius: 2px;
        border-radius: 2px;
      }
      #page-nav a {
        color: #999;
        text-decoration: none;
      }
      #page-nav a:hover {
        color: #fff;
        background: #38b7ea;
      }
      #page-nav .page-number {
        display: inline-block;
      }
      @media screen and (max-width: 559px) {
        #page-nav .page-number {
          display: none;
        }
      }
      #page-nav .current {
        color: #565a5f;
        font-weight: bold;
      }
      #page-nav .space {
        color: #eceff2;
      }
