  
/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin: 5px;
  padding: 10px;
  background: rgb(236, 231, 231);
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: relative;
  padding: 5px;
  left: 10px;
  top: 10px;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.element-item .cat {
  position: relative;
  font-size: 12px;
  font-weight: bold;
}

.element-item .year {
  position: absolute;
  font-weight: bold;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item .name.relay   { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item .name.sprint  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item .name.general  { background: rgb(255, 251, 0); background: rgb(217, 255, 0); }
