  
/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 200px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .nameold {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .name {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .cat {
  position: center;
  font-size: 12px;
  font-weight: bold;
}

.element-item .year {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.relay   { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.sprint  { background: #F80; background: hsl(  36, 100%, 50%); }
