{{ $context := .context }}
{{ $year := .year }}

{{ $day := .day }}
{{ $dayTwoLetters := printf "%02d" $day }}
{{ $pageMap := .pagemap }}

{{ $month := .month }}
{{ $monthTwoLetters := printf "%02d" $month }}

{{ $dateString := (string (delimit (slice $year $monthTwoLetters $dayTwoLetters) "-")) }}

{{ $context.Scratch.Set "isFuture" false }}

{{ if le now (time $dateString) }}
    {{ $context.Scratch.Set "isFuture" true }}
{{ end }}

{{ $isFuture := $context.Scratch.Get "isFuture" }}

{{- $articlesFound := index ($context.Scratch.Get "ArticlesPerDay") $dateString -}}
<li class="calendar__day {{ if $isFuture }}calendar__day--future{{ end }} {{ if gt $articlesFound 0 }}calendar__day--hasarticles{{ end }}">
    {{- if gt $articlesFound 0 -}}
        <a href="/archive/{{ delimit (slice $year $monthTwoLetters $dayTwoLetters) "-" }}/" title="{{ $articlesFound }} article{{ if gt $articlesFound 1 }}s{{ end }}">
    {{- end -}}
        <time datetime="{{ $dateString }}">{{ $day }}<em>{{ $articlesFound }}</em></time>
    {{- if gt $articlesFound 0 -}}</a>{{- end -}}
</li>