<Configuration type="Cup">
  <General name="Salzburger Sportvoglcup 2025"
           year="2025"
           numberOfPlannedEvents="10"
           numberOfValidEvents="10"
           numberOfCountingEvents="8"
           calcRule="sbgcup"
           resultFileRegex="2025_(\d{2})_sbgcup_result.*"
           recurseSubDirs="true"
           includeStatus="DidNotFinish, MissingPunch"
           eventTitle="Sbg.Cup"
           showEvents="OmitAllMissing"
           showCompetitors="-1">
  </General>
  <PreProcessing>
    <!-- options for input file preprocessing -->
    <Task name="toUtf8" active="true" />
    <Task name="toJson" active="false" />
  </PreProcessing>
  <PostProcessing>
    <!-- options for result postprocessing -->
    <Task name="sumOrganisations" sequence="10" active="false">
      <Param key="outputPrefix">Vereine</Param>
      <!-- sumType: all ... sum up all points from competitors -->
      <!-- sumType: cup ... sum up cup points from competitors -->
      <Param key="sumType">all</Param>
      <Param key="filterKind">Class</Param>
      <Param key="filterType">Include</Param>
      <Param key="filterValue">1,2,3</Param>
    </Task>
  </PostProcessing>
  <Events>
    <!-- set num to 0 if not needed -->
    <Event num="1" name="Mönchsberg"/>
    <Event num="2" name="Salzachseen"/>
    <Event num="3" name="Köstendorf"/>
    <Event num="4" name="Salzburg Stadt"/>
    <Event num="5" name="Salzburg Stadt"/>
    <Event num="6" name="Eberschwang">
      <map type="class" from="101" to="1" />
      <map type="class" from="102" to="2" />
      <map type="class" from="103" to="3" />
      <map type="class" from="104" to="4" />
      <map type="class" from="105" to="5" />
      <map type="class" from="106" to="6" />
      <map type="class" from="107" to="7" />
      <map type="class" from="108" to="8" />
      <map type="class" from="109" to="9" />
      <map type="class" from="110" to="10" />
      <map type="class" from="111" to="11" />
      <map type="class" from="112" to="12" />
      <map type="class" from="113" to="13" />
      <map type="class" from="114" to="14" />
      <map type="class" from="115" to="15" />
      <map type="class" from="116" to="16" />
    </Event>
    <Event num="7" name="Adnet-Riedl"/>
    <Event num="8" name="Lungau"/>
    <Event num="9" name="Postalm" />
    <Event num="10" name="Eugendorfer Berg" multiply="2.0"/>
  </Events>
  <Classes filter="Include" presentationOrder="1;9;2;10;3;11;4;12;5;13;6;14;7;15;8;16">
    <Class name="S-Damen -13" id="1" shortName="D13" />
    <Class name="S-Damen -15" id="2" shortName="D15" />
    <Class name="S-Damen -18" id="3" shortName="D18" />
    <Class name="S-Damen 19-" id="4" shortName="D Elite" />
    <Class name="S-Damen 35-" id="5" shortName="D35" />
    <Class name="S-Damen 45-" id="6" shortName="D45" />
    <Class name="S-Damen 55-" id="7" shortName="D55" />
    <Class name="S-Damen 65-" id="8" shortName="D65" />
    <Class name="S-Herren -13" id="9" shortName="H13" />
    <Class name="S-Herren -15" id="10" shortName="H15" />
    <Class name="S-Herren -18" id="11" shortName="H18" />
    <Class name="S-Herren 19-" id="12" shortName="H Elite" />
    <Class name="S-Herren 35-" id="13" shortName="H35" />
    <Class name="S-Herren 45-" id="14" shortName="H45" />
    <Class name="S-Herren 55-" id="15" shortName="H55" />
    <Class name="S-Herren 65-" id="16" shortName="H65" />
  </Classes>
  <Organisations filter="Include" >
    <Organisation name="ASKÖ Henndorf" id="32" />
    <Organisation name="OLG Tennengau" id="35" />
    <Organisation name="HBLA Ursprung" id="200" />
    <Organisation name="HSV Wals" id="33" />
    <Organisation name="NF Seekirchen" id="34" />
    <Organisation name="Bleib in Bewegung!" id="201" />
  </Organisations>
  <Output>
    <Html active="true"
          fileName="..\..\..\static\resources\2025\sbgcup2025.html"
          cssInline="true"
          docTemplate="..\..\..\templates\sbgcup_document_template.html"
          classTemplate="..\..\..\templates\sbgcup_class_template.html"
          detailsTemplate="..\..\..\templates\sbgcup_details_template.html"
          cssFile="..\..\..\templates\default.css" />
    <Pdf active="true"
         fileName="sbgcup2025.pdf"
         pageOrientation="Portrait"
         pageSize="A4"
         marginLeft="10"
         marginTop="20"
         marginRight="10"
         marginBottom="20"></Pdf>
    <Json active="false" fileName="sbgcup2025.json" />
  </Output>
  <Names>
    <!-- <Name name="Bubu" aliasFor="der Hund, the great"/> -->
    <Name name="Tscharlie Hackl" aliasFor="Karl Hackl"/>
    <Name name="Roland Berner" aliasFor="Roland Perner"/>
    <Name name="Jonas Königstorfer" aliasFor="Jonas Königsdorfer"/>
    <Name name="Tamás Bárány" aliasFor="Tamas Barany" />
    <Name name="Peter Ebster Sen." aliasFor="Peter  Ebster Sen."/>
    <Name name="Wolfgang Buchberger" aliasFor="Wolfgang Buchberger Jun., Jun. Wolfgang Buchberger"/>
    <Name name="Eva Breitschädel" aliasFor="Eva Breitschaedel"/>
    <Name name="Peter Ebster" aliasFor="Peter Ebster Sen., Sen. Peter Ebster, Peter Ebster"/>
  </Names>
  <Translations>
    <Translation key="DidNotFinish" translate="aufg." />
    <Translation key="DidNotStart" translate="n ang." />
    <Translation key="MissingPunch" translate="Fehlst." />
  </Translations>
</Configuration>