{{ define "main" }}
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-grid" data-ukgrid>
      <div class="uk-width-2-3@m">
        <!-- TODO: featured: event carusel -->
        <h4 class="uk-heading-line uk-text-bold"><span>Latest Posts</span></h4>
          {{ $blog := where .Site.RegularPages "Type" "in" (slice "post" "pressinfo" "event") | first 3 }}
          <div class="uk-grid uk-grid-medium uk-child-width-1-1@xl uk-grid-match js-filter" data-uk-grid="masonry: true" data-uk-sortable="handle: .drag-icon">
          {{ range $blog }}
            {{ partial "article_card_item" . }}
          {{ end }}
          </div>
          {{ with .Site.Home.OutputFormats.Get "RSS" -}}
          <p class="rss-subscribe">{{ i18n "subscribe_rss" . | safeHTML }}</p>
          {{ end  }}
        </div>
        <div class="uk-width-1-3@m">
            <h4 class="uk-heading-line uk-text-bold"><span>Veranstaltungen</span></h4>
          {{ $evt := where .Site.RegularPages "Type" "in" (slice "event") | first 3 }}
          <ul class="uk-list uk-list-striped">
            {{ range $evt }}
            <li>
              <div>
                <span class="uk-label">SBG Cup</span>
                <p><a href="{{.RelPermalink}}">{{.Title}}</a></p>
                <p>{{  .Params.event.date }}</p>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
{{ end }}