{{ define "main" }}
{{ partial "hero" . }}
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-grid" data-ukgrid>
      <div class="uk-width-2-3@m">
        <!-- TODO: featured: event carusel -->
        <h4 class="uk-heading-line uk-text-bold"><span>Latest Posts</span></h4>
        {{ $blog := where .Site.RegularPages "Type" "in" (slice "posts" "pressinfo" "events") | first 3 }}
          <div class="uk-grid uk-grid-medium uk-child-width-1-1@xl uk-grid-match js-filter" data-uk-grid="masonry: true" data-uk-sortable="handle: .drag-icon">
          {{ range $blog }}
            {{ partial "article_card_item" . }}
          {{ end }}
          </div>
          {{ with .Site.Home.OutputFormats.Get "RSS" -}}
          <p class="rss-subscribe">{{ i18n "subscribe_rss" . | safeHTML }}</p>
          {{ end  }}
        </div>
        <div class="uk-width-1-3@m">
            <!-- TODO: calender, our sponsors -->
            <a href="https://www.sportvogl.de/"><img src="/images/sponsors/logo-sportvogl-new-220x90.png" alt="Sportvogl" width="80" height="48" style="padding: 10px;"></a>
        </div>
      </div>
    </div>
  </div>
{{ end }}