{{ $context := .context }}
{{ $from := int .from }}
{{ $to := int .to }}
{{ $pages := .pages }}

{{ $context.Scratch.Set "currentYear" $from }}
{{ $context.Scratch.Add "consideredYears" (slice $from) }}

{{ range ($pages.GroupByPublishDate "2006") }}
    {{ $context.Scratch.SetInMap "ArticlesPerYear" .Key (len .Pages) }}
{{ end }}

{{ range ($pages.GroupByPublishDate "2006-01") }}
    {{ $context.Scratch.SetInMap "ArticlesPerMonth" .Key (len .Pages) }}
{{ end }}

{{ range ($pages.GroupByPublishDate "2006-01-02") }}
    {{ $context.Scratch.SetInMap "ArticlesPerDay" .Key (len .Pages) }}
{{ end }}

{{ range $i, $sequence := (seq ((sub $to $from))) }}
    {{ $currentYear := $context.Scratch.Get "currentYear" }}
    {{ $nextYear := (add $from $sequence) }}

    {{ if le $nextYear $to }}
        {{ $context.Scratch.Add "consideredYears" (slice $nextYear) }}
        {{ $context.Scratch.Set "currentYear" $nextYear }}
    {{ end }}
{{ end }}

{{ range (seq $from $to) }}
<li>
    <div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
        <div class="uk-width-1-5@s uk-width-1-10@m uk-height-1-1">
            {{ . }}
        </div>
        <div class="uk-width-3-5@s uk-width-8-10@m uk-height-1-1">
            {{ partialCached "calendar/year" (dict "context" $context "year" . ) (string (delimit (slice $from $to .) "")) }}
        </div>
        <div class="uk-width-1-5@s uk-width-1-10@m uk-height-1-1">
        </div>
</li>
{{ end }}