{{ $context := .context }}
{{ $from := int .from }}
{{ $to := int .to }}
{{ $pages := .pages }}

{{ $context.Scratch.Set "currentYear" $from }}
{{ $context.Scratch.Add "consideredYears" (slice $from) }}

{{ range ($pages.GroupByPublishDate "2006") }}
    {{ $context.Scratch.SetInMap "ArticlesPerYear" .Key (len .Pages) }}
{{ end }}

{{ range ($pages.GroupByPublishDate "2006-01") }}
    {{ $context.Scratch.SetInMap "ArticlesPerMonth" .Key (len .Pages) }}
{{ end }}

{{ range ($pages.GroupByPublishDate "2006-01-02") }}
    {{ $context.Scratch.SetInMap "ArticlesPerDay" .Key (len .Pages) }}
{{ end }}

{{ range $i, $sequence := (seq ((sub $to $from))) }}
    {{ $currentYear := $context.Scratch.Get "currentYear" }}
    {{ $nextYear := (add $from $sequence) }}

    {{ if le $nextYear $to }}
        {{ $context.Scratch.Add "consideredYears" (slice $nextYear) }}
        {{ $context.Scratch.Set "currentYear" $nextYear }}
    {{ end }}
{{ end }}

{{ range (seq $from $to) }}
<li>
    {{ partialCached "github_calender_year" (dict "context" $context "year" . ) (string (delimit (slice $from $to .) "")) }}
</li>
{{ end }}