{{ if .Site.Params.widgets.categories }}
{{ if isset .Site.Taxonomies "categories" }}
{{ if not (eq (len .Site.Taxonomies.categories) 0) }}
<h4 class="uk-heading-line uk-text-bold"><span>{{with .Site.Data.l10n.widgets.categories.title}}{{.}}{{end}}</span></h4>
<ul class="uk-list">
{{ range $name, $items := .Site.Taxonomies.categories }}
    <li>
        {{ $url := printf "%s/%s" "categories" ($name | urlize | lower)}}
        <a class="category-list-link" href="{{ $url | absURL }}">
            {{ $name }}
        </a>
        <span class="category-list-count">{{ len $items }}</span>
    </li>
{{ end }}
</ul>
{{ end }}
{{ end }}
{{ end }}
