<div class="page-brake page-brake-responsive">
    <div fs-if="hasShortName" class="category_title">{{{classFullName}}} ({{{classShortName}}})</div>
    <div fs-else class="category_title">{{{classFullName}}}</div>
    <br />
    <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
        <thead>
            <tr>
                <th scope="col">Pl</th>
                <th scope="col">Name</th>
                <th scope="col">Schule</th>
                <th scope="col" fs-for="ev in eventInfos" align="center"><span><div>{{{ev.Number}}}. Lauf<br>{{{ev.Name}}}<br /></div></span></th>
                <th scope="col">Gesamtzeit</th>
            </tr>
        </thead>
        <tbody>
            <tr fs-for="rank,item in catResults" class="{{{$iteration |> getRowStyle}}}">
                <div fs-if="item.Disq">
                    <th scope="row">
                        <span><div style="overflow:hidden;">-</div></span>
                    </th>
                    <td data-label="Name">
                        <div style="overflow:hidden;"><b>{{{item.PersonName}}}</b></div>
                    </td>
                    <td data-label="Schule">
                        <div style="overflow:hidden;">{{{item.OrganisationId |> getClubNameById}}}</div>
                    </td>
                    {{{printDetailedResultRow(item.Results, templateFile) |> combineListToString}}}
                    <td data-label="Gesamtzeit">
                        <div style="overflow:hidden;font-weight:bold;">keine Wertung</div>
                    </td>
                </div>
                <div fs-else>
                    <th scope="row">
                        <span><div style="overflow:hidden;">{{{rank}}}</div></span>
                    </th>
                    <td data-label="Name">
                        <div style="overflow:hidden;"><b>{{{item.PersonName}}}</b></div>
                    </td>
                    <td data-label="Schule">
                        <div style="overflow:hidden;">{{{item.OrganisationId |> getClubNameById}}}</div>
                    </td>
                    {{{printDetailedResultRow(item.Results, templateFile) |> combineListToString}}}
                    <td data-label="Gesamtzeit">
                        <div fs-if="isWinner rank" style="overflow:hidden"><b>{{{item.TotalTime |> formatTime}}}</b> (+ 0:00)</div>
                        <div fs-else style="overflow:hidden"><b>{{{item.TotalTime |> formatTime}}}</b> (+ {{{item.TimeBehind |> formatTime}}})</div>
                    </td>
                </div>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <br />
</div>
