<div style="page-break-inside: avoid">
    <div class="category_title">{{{classFullName}}} ({{{classShortName}}})</div>
    <br />
    <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
        <thead>
            <tr>
                <th scope="col">Pl</th>
                <th scope="col">Schule</th>
                <th scope="col">Zeit</th>
                <th scope="col">Team</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr fs-for="rank,trItem in catResults" class="{{{$iteration |> getRowStyle}}}">
                <th scope="row">
                    <span>
                        <div style="overflow:hidden;">{{{rank}}}</div>
                    </span>
                </th>
                <td data-label="Schule">
                    <span>
                        <div style="overflow:hidden;">{{{trItem.OrganisationId |> getClubNameById}}}</div>
                    </span>
                </td>
                <td data-label="Zeit">
                    <span>
                        <div style="overflow:hidden;">{{{trItem.TotalTime |> formatTime}}}</div>
                    </span>
                </td>
                <td fs-for="tm in trItem.TeamMembers">
                    <span>
                        <div style="overflow:hidden;"><b>{{{tm.Name}}}</b> ({{{tm.Time |> formatTime}}})</div>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
    <br />
    <br />
    <br />
</div>
