<table class="uk-table uk-table-divider uk-table-striped">
    <thead>
        <tr>
            <th>Jahr</th>
            <th>Bewerbe</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ range .Site.Data.cups.cup }}
        {{ $c := . }}
        <tr>
            <td>{{$c.year}}</td>
            <td>
                <ul class="uk-list uk-list-bullet">
                {{ range $c.cup }}
                 {{ $n := . }}
                    {{ $url := print "/event/" $c.year "/" $n.link }}
                    <li>
                    <a href="{{ $url | relURL }}"><b>{{$n.text}}</b>
                    </li>
                 {{ end }}
                </ul>
            </td>
            <td>
                {{ $url := print "/event/" $c.year "/wettlaufordnung" }}
                <a href="{{ $url | relURL }}">Wettlaufordnung</a>
             </td>
        </tr>
        {{ end }}
    </tbody>
</table>