{{ define "main" }}
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <h4 class="uk-heading-line uk-text-bold"><span>Termine</span></h4>
    <div data-uk-slider="velocity: 5">
      <div class="uk-position-relative">
        <div class="uk-slider-container">
          <ul class="uk-slider-items uk-child-width-1-4@m uk-grid uk-grid-medium news-slide">
            {{ $ev :=  where .Site.RegularPages "Type" "event"}}
            {{ range $ev }}
            <li>
              <div class="uk-card uk-card-default uk-card-body uk-card-small uk-flex uk-flex-middle uk-border-rounded">
                <div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
                  <div class="uk-width-1-1">
                    <span class="uk-label uk-label-warning" style="font-size: 0.75rem">{{.Params.status}}</span>
                    <div class="uk-width-auto uk-text-left uk-text-muted">
                        {{ partial "event_meta" . }}
                    </div>
                    <h6 class="uk-card-title uk-margin-small-top uk-margin-remove-bottom">
                      <a class="uk-link-reset" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h6>
                    
                  </div>
                </div>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="uk-hidden@l uk-light">
          <a class="uk-position-center-left uk-position-small" href="#" data-uk-slidenav-previous data-uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small" href="#" data-uk-slidenav-next data-uk-slider-item="next"></a>
        </div>
        <div class="uk-visible@l">
          <a class="uk-position-center-left-out uk-position-small" href="#" data-uk-slidenav-previous
                 data-uk-slider-item="previous"></a>
          <a class="uk-position-center-right-out uk-position-small" href="#" data-uk-slidenav-next
                 data-uk-slider-item="next"></a>
        </div>
      </div>
      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
  </div>
</div>
<div class="uk-section uk-section-default">
    <div class="uk-container">
      <div class="uk-grid" data-ukgrid>
        <div class="uk-width-3-4@m">
              <h4 class="uk-heading-line uk-text-bold"><span>Latest Posts</span></h4>
              {{ $blog := where .Site.RegularPages "Type" "in" (slice "post" "pressinfo" "event")}}
          {{ $paginator := .Paginate $blog }}
          {{ range .Paginator.Pages }}
            {{ .Render "summary" }}
          {{ end }}
          {{ partial "pagination" . }}
        </div>
        {{ partial "sidebar_right" . }}
      </div>
    </div>
  </div>
{{ end }}