{{ if eq .Type "event" }}
{{ if not (eq .Params.event_general true)}}
  {{ partial "event_card_item" . }}
{{ end }}
{{ else }}
<div class="{{.Type}}-card">
    <div class="uk-card uk-card-small uk-card-default">
        <!-- card header -->
        <div class="uk-card-header">
            <div class="uk-grid uk-grid-small uk-text-small" data-uk-grid>
                <div class="uk-width-expand">
                    <span class="cat-txt">{{ .Type }}</span>
                    {{ if eq .Type "pressinfo" }}
                    <span class="cat-txt">
                    {{ with $x := split .Dir "\\" }}
                    {{ with $y := index $x 1}}
                    {{ with $m := index $x 2 }}
                        {{$m}}&middot;{{$y}}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    </span>
                    {{ end }}
                </div>
                <div class="uk-width-auto uk-text-right uk-text-muted">
                    <span uk-icon="icon: calendar"></span>
                    Written on <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.time_format_default }}</time>
                    &middot;
                    {{ .WordCount }} {{ with .Site.Data.l10n.articles.words }} {{ . }} {{ end }}
                    &middot;
                    {{ .ReadingTime }} {{ with .Site.Data.l10n.articles.readingtime }} {{ . }} {{ end }}
                </div>
            </div>
        </div>
        <!-- card content -->
        <div class="uk-card-body">
            <div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
                <div class="uk-width-1-3@s uk-width-2-5@m uk-height-1-1">
                {{ with .Resources.ByType "image" }}
                {{ if and (gt (len .) 0) (not (eq (index . 0) ""))}}
                    <div class="uk-card-media">
                        <div class="uk-inline-clip">
                        {{ range first 1 . }}
                            {{ $image := .Resize "x300" }}
                            <img width="300" height="100" class="lazy" data-src="{{ $image.RelPermalink }}" data-uk-img alt="" src="img/transp.gif" uk-img>
                        {{ end }}
                        </div>
                    </div>
                {{ end }}
                {{ end }}
                </div>
                <div class="uk-width-2-3@s uk-width-3-5@m uk-height-1-1">
                    <div class="uk-container">
                        <h5 class="uk-margin-small-bottom uk-margin-remove-adjacent uk-text-bold">
                            <a title="{{ .Title }}" class="uk-link-reset" href="{{ .Permalink }}">
                                {{ .Title }}
                            </a>
                        </h5>
                        <p class="uk-text-small uk-text-muted">{{ .Summary }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- card footer -->
        <div class="uk-card-footer">
            <div class="uk-grid uk-grid-small uk-grid-divider uk-flex uk-flex-middle" data-uk-grid>
                <div class="uk-width-expand uk-text-small">
                    {{ if isset .Params "author" }} {{ .Params.author }} {{ end }}
                </div>
                {{ if isset .Params "tags" }}
                {{ $tagsLen := len .Params.tags }}
                {{ if gt $tagsLen 0 }}
                <div class="uk-width-auto uk-text-right uk-text-muted">
                    <span data-uk-icon="icon: tag"></span>
                    {{ range $k, $v := .Params.tags }} {{ $url := printf "tags/%s" (. | urlize | lower) }}
                        <a href="{{ $url | absURL }}">{{ . }}</a>
                        {{ if lt $k (sub $tagsLen 1) }}&middot;{{ end }}
                    {{ end }}
                </div>
                {{ end }}
                {{ end }}
                <div class="uk-width-auto uk-text-right">
                    {{ if .Truncated }}
                        <a href="{{ .Permalink }}" class="uk-button uk-button-default uk-button-small">{{with .Site.Data.l10n.articles.read_more}}{{.}}{{end}}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}