    <div class="uk-article-meta">
        <div>
            <span uk-icon="icon:location"></span>
            {{ .Params.event.location }}
            &middot;
            <span uk-icon="icon:calendar"></span>
            <time datetime="{{ .Params.event.date }}">{{ dateFormat .Site.Params.time_format_default .Params.event.date }}</time>
            &middot;
            <span uk-icon="icon:clock"></span>
            <time datetime="{{ .Params.event.date }}">{{ dateFormat .Site.Params.time_format_hhmm .Params.event.date }}</time>
        </div>
    </div>
