<header class="article-header">
    <h2 class="uk-margin-remove-adjacent uk-text-bold uk-margin-small-bottom">
        {{ .Params.event_name | default .Title }}
    </h2>
    <div class="uk-article-meta">
        <div>
            <span uk-icon="icon:location"></span>
            {{ .Params.event_location }}
            &middot;
            <span uk-icon="icon:calendar"></span>
            <time datetime="{{ .Params.event_date }}">{{ dateFormat .Site.Params.time_format_default .Params.event_date }}</time>
            &middot;
            <span uk-icon="icon:clock"></span>
            <time datetime="{{ .Params.event_date }}">{{ dateFormat .Site.Params.time_format_hhmm .Params.event_date }}</time>
        </div>
    </div>
</header>
    
