<!-- TODO: skeleton events -->
<table class="uk-table uk-table-divider uk-table-striped">
    <tbody>
        <tr><td>Veranstalter</td><td>{{ .Params.organiser | default "SOLV" }}</td></tr>
        <tr><td>Durchführung</td><td>{{ .Params.implementation }}</td></tr>
        <tr>
            <td>Treffpunk</td>
            <td>
                {{ partial "maplink" . }}
                - ab <time>
                        {{ $mtime := time .Params.event.date }}
                        {{ $duration := time.Duration "minute" .Params.meeting.time_minutes }}
                        {{ $mtime2 := $mtime.Add ($duration) }}
                        {{ dateFormat .Site.Params.time_format_hhmm $mtime2 }}
                    </time>
            </td>
        </tr>
        <tr><td>Nullzeit</td><td>{{ dateFormat .Site.Params.time_format_hhmm .Params.event.date }}</td></tr>
        <tr><td>Wettkampfleiter</td><td>{{ .Params.official.event }}</td></tr>
        <tr><td>Bahnleger</td><td>{{ .Params.official.course }}</td></tr>
        <tr><td>Kontrolle</td><td>{{ .Params.official.inspection }}</td></tr>
        <tr><td>Karte</td><td>{{ .Params.map.name }} / M {{ .Params.map.scale }} / AE {{ .Params.map.equidistance }} / Stand {{ .Params.map.update }}{{if not (eq .Params.map.format "")}} / {{.Params.map.format}} {{end}}</td></tr>
        <tr><td>Postenbeschreibung</td><td>{{ .Params.control_point_description }}</td></tr>
        <tr>
            <td>Bahndaten</td>
            <td>
                {{ if eq (len .Params.course_lenghts) 0 }}
                    Noch nicht bekannt.
                {{ else }}
                    {{ range $i, $c := .Params.course_lenghts }}
                        {{ if $i }} / {{ end }}
                        {{ index $c 0 }} - {{ index $c 1 }} 
                    {{ end }}
                </td>
                {{ end }}
        </tr>
        <tr><td>Wettkampfart</td><td>{{ .Params.event.form }}</td></tr>
        <tr><td>Nennungen</td><td>{{ partial "event_entry" . }}</td></tr>
        <tr><td>Informationen</td><td>{{ .Params.hints | markdownify }}</td></tr>
    </tbody>
</table>
