<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ if ne .Title .Site.Title }}{{ .Title }}{{ end }} {{ .Site.Title }}</title>
    {{ if .IsHome }}
    <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}
    <script src="{{ "js/uikit.min.js" | relURL }}"></script>
    <script src="{{ "js/uikit-icons.min.js" | relURL }}"></script>
    <link rel="stylesheet" href="{{ "css/additional.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/uikit.min.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/cards.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/eventlist.css" | relURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/solv-logo-16x16.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/solv-logo-32x32.png" | relURL }}">
    {{ with .Site.Home.OutputFormats.Get "RSS" -}}
    <link rel="{{ .Rel }}" href="{{ .Permalink }}" type="application/rss+xml" title="SOLV Blog Feed" />
    {{ end  }}
    <!-- TODO: only add when needed (for map page) -->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>