<!-- <style type="text/css">
    .ghContributors{
    display:flex;
    flex-flow:  wrap;
    align-content: flex-start
    }
    
    .ghContributors > div{
    width: 50% ;
    display: inline-flex;
    margin-bottom: 5px;
    }
    .ghContributors > div label{
    padding-left: 4px ;
    }
    .ghContributors > div span{
    font-size: x-small;
    padding-left: 4px ;
    }
</style> -->

<!-- <div class="ghContributors"> -->
<div>
    <h2>Ausschreibung</h2>
    <table>
        <tr><td>Datum / Nullzeit</td><td>{{ dateFormat "02-01-2006" $.Page.Params.event_date }} / {{ dateFormat "03:04" $.Page.Params.event_date }}</td></tr>
        <tr><td>Treffpunkt</td><td>{{ $.Page.Params.meeting_point }}</td></tr>        
        <tr><td>Veranstalter</td><td>{{ $.Page.Params.organiser }}</td></tr>
        <tr><td>Durchführung</td><td>{{ $.Page.Params.implementation }}</td></tr>
        <tr><td>Wettkampfleiter</td><td>{{ $.Page.Params.official_event }}</td></tr>
        <tr><td>Bahnleger</td><td>{{ $.Page.Params.official_course }}</td></tr>
        <tr><td>Kontrolle</td><td>{{ $.Page.Params.official_inspection }}</td></tr>
        <tr><td>Karte</td><td>{{ $.Page.Params.map }}</td></tr>
        <tr><td>Kategorien</td><td>{{"[Kategorien Tabelle]($.Page.Params.categories)" | markdownify }}</td></tr>
        <tr><td>Hinweise</td><td>{{ $.Page.Params.hints | markdownify }}</td></tr>
    </table>
</div>