<script src="/js/isotope.pkgd.min.js" async></script>
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/champions.css">

<div class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'></div>
<div class="grid">

{{ range .Page.Site.Data.championships }}
    {{ $y := .year }}
    {{ $t := .type }}
    {{ $n := .name }}
    {{ range .results }}
    <div class="element-item {{ $t }}">
        <h3 class="name">{{ $n }}</h3>
        <p class="cat">{{ .category }}</p>
        <p class="year">{{ $y }}</p>
        {{ range $index, $element := .result }}
            {{ $c := add $index 1 }}
            <p>{{ $c }}. {{ $element.name }}</p>
        {{ end }}
    </div>
    {{ end }}
{{ end }}

</div>
