<script src="/js/isotope.pkgd.min.js" async></script>
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/isotope.css">

<div class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'></div>
<div class="grid">
  <div class="grid-item">A</div>
  <div class="grid-item grid-item--width2">B</div>
  <div class="grid-item">C</div>
</div>

{{ range .Page.Site.Data.championships }}
    <h3>Meister {{ .year }} im {{ .type }}</h3>
    {{ range .results }}
        <b>{{ .category }}</b>
        {{ range $index, $element := .result }}
            {{ $c := add $index 1 }}
            <li>{{ $c }}. {{ $element.name }}</li>
        {{ end }}
    {{ end }}
{{ end }}