<table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th>Verein</th>
            <th/>
            <th>Obmann/Stellvertreter</th>
            <th># Mitglieder</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Site.Data.clubs.club }}
        {{ $c := . }}
        <tr>
            <td> {{ if isset $c "logo" }} <img src="{{$c.logo}}" alt="Logo {{$c.short}}" style="display:block;margin-left:auto;margin-right:auto;"> {{ end }}</td>
            <td> {{ if isset $c "website" }} <a href="http://{{$c.website}}"><b>{{$c.name}}</b></a> {{ else }} <b>{{$c.name}}</b> {{ end }} </td>
            <td> {{ range $c.board }} {{ $n := . }} {{$n.name}} <br/> {{ end }} </td>
           <td> {{$c.membercount}} </td>
        </tr>
        {{ end }}
    </tbody>
</table>