<!-- {{ partial "calendar" (dict "context" . "from" 2017 "to" (now.Format "2006") "pages" .Site.Pages) }} -->

{{ $evt := where .Site.RegularPages "Type" "event" }}
{{ $evt = $evt | intersect (where .Site.Pages ".Params.status" "=" "planned") }}
{{ $evt = $evt | union (where .Site.Pages ".Params.status" "=" "external") }}
<ul class="uk-list uk-list-striped">
    {{ $nevt := sort $evt "Date" "asc"}}
    {{ range $nevt }}
    <li>
        <div class="uk-container">
                <div class="event__item">
                        <div class="uk-grid uk-grid-small" data-ukgrid>
                    <div class="uk-width-auto event__date">
                        <div class="event__date--box">
                            <span class="event__date--day">
                                {{ .Date.Day }}
                            </span>
                            <span class="event__date--month">
                                {{ substr (index $.Site.Data.months (printf "%d" .Date.Month)) 0 3 }}
                            </span>
                            <span class="event__date--year">
                                {{ dateFormat .Site.Params.time_format_event_year .Date }}</span>
                        </div>
                    </div>
                    {{with .Params.cup }}
                    <span class="uk-badge event__type--{{.}}">
                            {{ . | upper }}
                    </span>
                    {{ end }}
                    <div class="uk-width-expand">
                        <p><a href="{{.RelPermalink}}">{{.Title}}</a></p>
                        {{ if eq .Params.status "active" }}
                        <p>{{ partial "functions/event_anne_link" (dict "id" .Params.anne_id "link" "Anmeldung") }}</p>
                        {{ end }}
                    </div>
                    {{ partial "event_list_meta" . }}
                </div>
            </div>
        </div>
    </li>
    {{ end }}
</ul>